.form {
  /* display: flex;
  flex-direction: column; */
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 20px;
  width: 20%;
  height: calc(100% - 30px);
  justify-content: space-around;
  border-right: 5px solid white;
  float: left;
  margin-bottom: 0;
  overflow: scroll;
}

.label {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}

.input {
  text-align: right;
}

.button {
  float: right;
}